<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to about_path do %>
        <img src="assets/top_flowerGarden.jpg" width=60% class="mx-auto" >
      <% end %>
    </div>
  </div>
</div>
