<div class="container">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-10">
      <%= link_to about_path do %>
        <%= image_tag 'top_flowerGarden.jpg', width: "100%" %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>
