<div class="container">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <% if @member == current_member %>
        <h3><strong>マイページ</strong></h3>
      <% else %>
        <h3><strong><%= @member.nickname %>さんのページ</strong></h3>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-3">
      <!--会員情報-->
      <%= render 'public/members/info', member: @member %>
    </div>
    <div class="col-9">
      <!--本人の時のみ表示する本の検索フォーム及び検討リスト-->
      <%= render 'public/members/upper-part', member: @member,consideration_count: @consideration_count,candidate_posts: @candidate_posts %>
      <!--当会員が投稿したレビューの一覧-->
      <%= render 'public/members/review-part', reviews: @reviews %>
    </div>

  </div>
</div>