対象年齢タグ追加

<table>
  <td>対象年齢</td>

  <td>
<%= form_with model: @target_age_tag, url: admin_target_age_tags_path do |f| %>
  <%= f.text_field :target_age, placeholder: "対象年齢" %>
  <%= f.submit "新規登録" %>
<% end %>
  </td>

</table>