<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>レビュー編集</strong></h3>
    </div>
  </div>

  <!--レビュー投稿・編集フォーム-->
  <%= render 'public/reviews/form', review: @review %>

  <%= link_to "削除する", review_path(@review.id), method: :delete, class: "btn btn-secondary" %>

</div>
