<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>みんなのレビュー</strong></h3>
    </div>
  </div>
  <!--レビューを絵本情報やタグで検索するフォーム-->
  <%= render 'public/reviews/search-form' %>
  <!--レビューを一覧表示-->
  <%= render 'public/reviews/index', reviews: @reviews %>
</div>