<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>レビュー投稿</strong></h3>
    </div>
  </div>

  <!--レビュー投稿・編集フォーム-->
  <%= render 'public/reviews/form', review: @review %>

  <%= link_to "レビュー投稿をやめる", review_path(@review.id), method: :delete, class: "btn btn-secondary" %>

</div>