<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>マイ検討リスト</strong></h3>
    </div>
  </div>

  <!--購入検討ステータスでの絞り込み検索フォーム-->
  <%= render 'public/candidate_posts/search-form' %>

  <!--購入検討リスト-->
  <%= render 'public/candidate_posts/index', candidate_posts: @candidate_posts %>
  <ul class="pagination justify-content-center">
    <il class="page-item">
      <%= paginate @candidate_posts %>
    </il>
  </ul>

</div>