ジャンルタグ編集

<table>
  <td>ジャンル名</td>

  <td>
<%= form_with model: @genre_tag, url: admin_genre_tag_path do |f| %>
  <%= f.text_field :genre, placeholder: "ジャンル名" %>
  <%= f.submit "更新" %>
<% end %>
  </td>

</table>