<div class="container mb-5">

  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>絵本を探す</strong></h3>
    </div>
  </div>

  <!--楽天APIを利用した絵本の検索フォーム-->
  <%= render 'public/books/search-form' %>

  <!--上記の検索結果の表示（検討リスト登録ボタン・レビュー投稿ボタンを含む）-->
  <%= render 'public/books/search-result', books: @books %>

</div>