<div class="container">
 <div class="row my-4">
   <div class="text-dark mx-auto">

      <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
      <a href="https://developers.rakuten.com/" target="_blank">Supported by Rakuten Developers</a>
      <!-- Rakuten Web Services Attribution Snippet TO HERE -->

    </div>
  </div>
</div>
